site_name: XTM Hub Documentation
site_description: Documentation about XTM Hub, the central forum to access resources, share tradecraft, and optimize the use of Filigran’s products, fostering collaboration and empowering the community.
site_author: Filigran
site_url: https://docs.xtmhub.filigran.io
copyright: © 2025 Filigran. All rights reserved
repo_name: GitHub
repo_url: https://github.com/FiligranHQ/xtm-hub-docs
edit_uri: https://github.com/FiligranHQ/xtm-hub-docs/blob/main/docs/

# Theming
theme:
  name: material
  custom_dir: overrides
  logo: assets/logo.png
  features:
    - navigation.tabs
    - navigation.path
    - navigation.footer
    - navigation.expand
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - search.highlight
  palette:
    scheme: filigran
  font:
    text: Geologica
    code: Roboto Mono
# CSS
extra_css:
  - assets/css/custom.css

# Extra
extra:
  version:
    provider: mike
  analytics:
    provider: google
    property: G-Y8RZPDF0HQ
  generator: false
  social:
    - icon: fontawesome/brands/medium
      link: https://blog.filigran.io
    - icon: fontawesome/brands/slack
      link: https://community.filigran.io
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/company/filigran
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/FiligranHQ
    - icon: fontawesome/brands/facebook
      link: https://facebook.com/FiligranHQ

# Plugins
plugins:
  - mike:
      alias_type: symlink
      canonical_version: latest
  - search
  - git-committers:
      repository: /FiligranHQ/xtm-hub-docs
      branch: main
      token: !!python/object/apply:os.getenv ["MKDOCS_GIT_COMMITTERS_APIKEY"]
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
  - glightbox

# Extensions
markdown_extensions:
  - attr_list
  - md_in_html
  - tables
  - admonition
  - def_list
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.smartsymbols
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.betterem
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      use_pygments: true
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: false
      auto_title: false
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets:
      url_download: true

# Page tree
nav:
  - Home: "index.md"
  - User Guide:
      - OpenCTI:
        - Free Trials: user/opencti-freetrials.md
        - Registration: user/opencti-registration.md
        - Custom Dashboards library: libraries/custom-dashboards.md
        - Integrations library: libraries/integrations.md
      - OpenAEV:
        - Free Trials: user/openaev-freetrials.md
        - Registration: user/openaev-registration.md
        - Scenarios library: libraries/openaev-scenarios.md
  - Developer Guide:
      - Getting started: getting-started.md
  - Reference:
      - Deployment and stack:
          - usage-telemetry.md
